@font-face {
    font-family: "suspiria";
    src: url("./fonts/suspiria.eot");
    /* IE9 Compat Modes */
    src: url("./fonts/suspiria.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/suspiria.otf") format("opentype"), /* Open Type Font */
    url("./fonts/suspiria.svg") format("svg"), /* Legacy iOS */
    url("./fonts/suspiria.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/suspiria.woff") format("woff"), /* Modern Browsers */
    url("./fonts/suspiria.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

:root {
    --color_1: #006600;
    --color_2: #001600;
    --color_3: #000800;
    --color_back: #000000;
    /* --font: 'Rubik', sans-serif */
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color_back);
    color: var(--color_1);
    font-size: 20px;
    display: grid;
    height: 100vh;
    font-family: 'suspiria';
}

.icon {
    font-size: 100px;
    font-family: "Segoe UI Emoji";
}

#title {
    height: 45vh;
    align-self: center;
    justify-self: center;
    position: relative;
}

@keyframes show-suspiria {
    0% {
        letter-spacing: 0;
        opacity: 0;
    }
    15% {
        letter-spacing: 0;
        opacity: 0;
    }
    70% {
        opacity: 0.2;
    }
    100% {
        letter-spacing: 3vw;
        opacity: 1;
    }
}

#title div {
    position: absolute;
    bottom: 0vh;
    font-size: 3vw;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 3vw;
    transform: translateX(-50%);
    animation: show-suspiria 4s 1;
    animation-timing-function: linear;
}

#result {
    height: 55vh;
    align-self: center;
    justify-self: center;
}

svg {
    /* border: solid 1px red; */
    --size: 10vw;
    width: var(--size);
    height: var(--size);
}

.on {
    opacity: 1;
    transition: all .6s;
    fill: #ffffff;
    stroke: none;
    filter: url(#filter877)
}

.off {
    opacity: .1;
    transition: all .6s;
    fill: #ffffff;
    fill-opacity: 1;
    stroke: none;
    filter: url(#filter877)
}

.target-svg {
    stroke: none;
}

svg:hover {
    cursor: pointer;
}

svg:hover .on {
    opacity: .1;
}

svg:hover .off {
    opacity: .3;
}